*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Shrikhand", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  z-index: 30;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #FFF;
  padding-top: 8px;
  padding-bottom: 7px;
  position: fixed;
}
.header__title {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header__maintitle {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 25px;
}
.header__retourpage {
  text-decoration: none;
  color: black;
  left: 30px;
  padding: 7px;
  position: absolute;
}

.fondimage {
  position: fixed;
  top: 50px;
  z-index: 10;
}
.fondimage__lapalette {
  width: 100vw;
  min-width: 355px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  z-index: 15;
  margin-top: 250px;
  width: 100%;
  background: #f1f1f1;
  border-radius: 30px 30px 0 0;
  padding: 0 20px 50px 20px;
}
.menu__title {
  font-size: 23px;
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.menu__title > h3 {
  font-weight: 200;
}
.menu__title > i {
  font-size: 25px;
  font-weight: 100;
}

.titleplat {
  width: 100%;
  max-width: 360px;
  padding-bottom: 5px;
  padding-top: 30px;
}
.titleplat > p {
  display: flex;
  align-self: flex-start;
  max-width: 40px;
  border-bottom: #99E2D0 3px solid;
}

.card {
  display: flex;
  position: relative;
  justify-content: space-between;
  border-radius: 15px;
  background: #FFF;
  margin-top: 15px;
  width: 380px;
  height: 68px;
}
.card__prix {
  align-self: flex-end;
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 8px;
  transition: margin-right 500ms;
}
.card__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 7px;
  margin-top: 7px;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card__title > p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.animation1 {
  animation-name: top-to-bottom;
  animation-duration: 0.8s;
  animation-direction: linear;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.animation2 {
  animation-name: top-to-bottom;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-direction: linear;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.animation3 {
  animation-name: top-to-bottom;
  animation-duration: 0.8s;
  animation-delay: 2s;
  animation-direction: linear;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes top-to-bottom {
  0% {
    opacity: 0;
    margin-right: 50px;
  }
  50% {
    opacity: 0.1;
    margin-right: 20px;
  }
  100% {
    opacity: 1;
    margin-right: 0px;
  }
}
.hover--vert {
  width: 0px;
  height: 100%;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0px;
  align-items: center;
  border-radius: 0 15px 15px 0;
  transition: width 500ms;
}

.hover--vert > i {
  font-size: 0px;
}

.card:hover .hover--vert {
  width: 70px;
}
.card:hover .card__prix {
  margin-right: 90px;
}

.card:hover .fa-circle-check {
  font-size: 21px;
  color: #FFF;
  animation: rotating 0.5s ease-in reverse;
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}

footer {
  z-index: 15;
}

.liste {
  background-color: #303030;
  padding-bottom: 30px;
}
.liste .liste__ul {
  margin-left: 20px;
  padding-top: 15px;
  list-style-type: none;
}
.liste .liste__ul li {
  padding: 3px;
}
.liste .liste__ul li i {
  font-size: small;
  padding-right: 10px;
}
.liste .liste__ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.premierp {
  margin-left: 7px;
}

.divbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding-bottom: 50px;
  z-index: 15;
}
.divbutton__button {
  padding: 12px;
  padding-right: 40px;
  padding-left: 40px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  border: none;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.568);
}
.divbutton__button:hover {
  background: linear-gradient(#ff8ade, #9f6fda);
}

@media screen and (max-width: 440px) {
  .card {
    width: 300px;
  }

  .menu__title {
    width: 300px;
  }
}
@media screen and (max-width: 330px) {
  .card {
    width: 200px;
  }

  .menu__title {
    width: 250px;
  }
}
@media screen and (max-width: 270px) {
  .menu__title {
    text-align: center;
  }
  .menu__title .fa-regular {
    display: none;
  }
}

/*# sourceMappingURL=restaurants.css.map */
