// Bordures

$blacktransparent: rgba(0, 0, 0, 0);

// backgrounds gris clairs / blanc / noir

$grisclair: rgb(218, 218, 218);
$gristresclair: rgb(241, 241, 241);
$blanc: #FFF;
$noir: rgb(0, 0, 0);

// background violet clair

$violetclair: #ded5e9;

// gradient spec

$gradientroseviolet: linear-gradient(#FF79DA, #9356DC);
$gradientrosevioletclair: linear-gradient(#ff8ade, #9f6fda);

// gris icones

$icogris: rgb(71, 71, 71);

// footer gris foncé 

$grisfooter: #303030;

// primaire / secondaire / tertiaire

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;