@import './_variables';
@import './_mixins';
@import './_placeholders';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family:  'Shrikhand', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

// .headerflex {
//     display: flex;
//     flex-direction: column;
// }

.header {
    z-index: 30;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: $blanc;
    padding-top: 8px;
    padding-bottom: 7px;
    position: fixed;

    &__title {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__maintitle {
        font-family: 'Shrikhand', sans-serif;
        font-weight: 100;
        font-size: 25px;
    }

    &__retourpage {
        text-decoration: none;
        color: $noir;
        left: 30px;
        padding: 7px;
        position: absolute;
    }
}

.fondimage {
    position: fixed;
    top: 50px;
    z-index: 10;

    &__lapalette {
        width: 100vw;
        min-width: 355px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    z-index: 15;
    margin-top: 250px;
    width: 100%;
    background: $gristresclair;
    border-radius: 30px 30px 0 0;
    padding: 0  20px 50px 20px;

    &__title {
        font-size: 23px;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        
        >h3 {
            font-weight: 200;
        }

        >i {
            font-size: 25px;
            font-weight: 100;
        }
    }
}

.titleplat {
    width: 100%;
    max-width: 360px;
    padding-bottom: 5px;
    padding-top: 30px;
    
    >p {
        display: flex;
        align-self: flex-start;
        max-width: 40px;
        border-bottom: $tertiaire 3px solid;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;
    border-radius: 15px;
    background: $blanc;
    margin-top: 15px;
    width: 100%;
    max-width: 370px;

    &__prix {
        align-self: flex-end;
        padding-left: 15px;
    }

    &__title {
        margin-bottom: 3px;
        width: 330px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.liste {
    background-color: $grisfooter;
    padding-bottom: 30px;

    .liste__ul {
        margin-left: 20px;
        padding-top: 15px;
        list-style-type: none;

        li {
            padding: 3px;

            i {
                font-size: small;
                padding-right: 10px;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.divbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gristresclair;
    padding-bottom: 50px;

    &__button {
        padding: 12px;
        padding-right: 40px;
        padding-left: 40px;
        color: rgb(255, 255, 255);
        background: $gradientroseviolet;
        border-radius: 30px;
        border: none;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.568);

        &:hover {
            background: $gradientrosevioletclair;
        }
    }
}
