@import './_variables';
@import './_mixins';
@import './_placeholders';


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column nowrap;
}

.box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(204, 204, 204, 0.541);
    animation: fondclair 3s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fondclair {
    from {visibility: visible;}
    to {visibility: hidden;}
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #FF79DA;
    width: 120px;
    height: 120px;
    animation: spin 1s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg); visibility: hidden;}
}

.header {
    display: flex;
    width: 100%;
    border: 1px solid $blacktransparent;
    justify-content: center;
    @include padding1;
    @include shadow1;
    margin-bottom: 3px;

    &__maintitle {
        font-family: 'Shrikhand', sans-serif;
        font-weight: 100;
    }
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    @include padding2;
    background: $grisclair;

    .fa-map-marker {
        color: $icogris;
        padding-right: 20px;
    }
}

.inputaccueil {
    border: none;
    background-color: $grisclair;
    height: 25px;
    text-align: center;
    width: 190px;
    padding-right: 5px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    

    &::placeholder {
        color: $noir;
        opacity: 1;
        font-size: large;
        font-weight: 500;
        padding-right: 20px;
        
    }
}

input:focus::placeholder {
    color: transparent;
    padding-right: 20px;
}

input::-webkit-input-placeholder {
    font-size: 15px;
}

.sectionhaut {
    background-color: $gristresclair;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button>p:nth-child(1) {
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 25px;
    }

    &__button>p:nth-child(2) {
        text-align: center;
        padding-bottom: 20px;
    }

    &__button--button {
        text-align: center;
        padding-bottom: 40px
    }

    &__button--button>button {
        @include button;
       
        &:hover {
            background: $gradientrosevioletclair;
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.603);
        }
    }
}

.sectionfiltres {
    &__titre {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
    }
}

.filtres {
    width: 100%;
    padding-top: 30px;
    padding-left: 12px;
    padding-right: 12px;
    height: 250px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.filtres__filtre, .filtres__filtre, .filtres__filtre {
    display: flex;
    flex-direction: row;
    @include cards;
    max-height: 57px;
    text-overflow: ellipsis;
    min-width: 100px;

    &:hover {
        background: $violetclair;
    }

    &--numero {
        color: rgb(255, 255, 255);
        border: 1px solid transparent;
        font-size: small;
        background-color: #9356DC;
        margin-left: -25px;
        border-radius: 20px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
    }  
}

.filtres__filtre>i, .filtres__filtre>i, .filtres__filtre>i {
    padding-left: 20px;
    padding-right: 12px;
    color: $icogris;
}

.filtres__filtre>p, .filtres__filtre>p, .filtres__filtre>p {
    font-weight: bolder;
    max-width: 173px;
    min-width: 50px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.restaurants {
    width: 100%;
    margin-top: 60px;
    background-color: $gristresclair;
    padding-bottom: 60px;

    &__cards--titre {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

.restaurant__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.restaurant__container {
    max-width: 300px;
    width: 100%;
    height: 230px;
    @include cards--restaurants;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    &--img {
        max-width: 100%;
        max-height: 160px;
        object-fit: cover;
    }
}

.cards--restaurants--texte {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
}

.cards--restaurants--icon {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding-right: 20px;
    position: relative;
    justify-content: flex-end;

    .fa-heart {
        font-size: 25px;
        position: absolute;
    }

    .fa-regular {
        color: $icogris;

        &:hover {
            color: white;
        }
    }

    .fa-solid {
        font-size: 25px;
        color: transparent;


        &:hover {
            background: -webkit-linear-gradient(bottom, $secondaire, $primaire);
            -webkit-background-clip: text;
            background-clip: text;
            animation: fonducouleur 0.4s ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
        }
    }
}

@keyframes fonducouleur {
    from { opacity: 0;}
    to { opacity: 1;}
}

.liste {
    background-color: $grisfooter;
    padding-bottom: 30px;

    .liste__ul {
        margin-left: 20px;
        padding-top: 15px;
        list-style-type: none;

        li {
            padding: 3px;

            i {
                font-size: small;
                padding-right: 10px;
            }

            a {
                text-decoration: none;
                color: white;
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
            }
        }
    }
}

.premierp {
    margin-left: 7px;
}

// ____________________________________________________ //

// menu La Palette du Goût //

@media screen and (min-width: 1155px) {
    .restaurant__cards {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        gap: 13px;
    }

    .restaurants {
        margin-top: 60px;
        background-color: $gristresclair;
        padding-bottom: 60px;
        height: 550px;
    
        &__cards--titre {
            display: flex;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 60px;
        }
    }
}

@media screen and (max-width: 440px){
    .inputaccueil {
        width: 190px;
    }
}

@media screen and (max-width: 330px){
    .inputaccueil {
        width: 170px;
    }
}

@media screen and (max-width: 270px){
    .inputaccueil {
        width: 100px;
    }
}